<div class="row">
    <!-- Column -->
    <div class="col-md-9 col-lg-9">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="m-b-0 text-white">Seu Carrinho</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Imagem</th>
                                <th>Informações do produto</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th style="text-align:center">Total</th>
                                <th style="text-align:center">Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="150">
                                    <img src="assets/images/gallery/chair.jpg" alt="iMac" width="80">
                                </td>
                                <td width="550">
                                    <h5 class="font-500">Rounded Chair</h5>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                                        humour, or randomised words which don't look</p>
                                </td>
                                <td>$153</td>
                                <td width="70">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td width="150" align="center" class="font-500">$153</td>
                                <td align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/gallery/chair2.jpg" alt="iMac" width="80">
                                </td>
                                <td>
                                    <h5 class="font-500">Rounded Chair</h5>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                                        humour, or randomised words which don't look</p>
                                </td>
                                <td>$153</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td class="font-500" align="center">$153</td>
                                <td align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/gallery/chair3.jpg" alt="iMac" width="80">
                                </td>
                                <td>
                                    <h5 class="font-500">Rounded Chair</h5>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                                        humour, or randomised words which don't look</p>
                                </td>
                                <td>$153</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td class="font-500" align="center">$153</td>
                                <td align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/gallery/chair4.jpg" alt="iMac" width="80">
                                </td>
                                <td>
                                    <h5 class="font-500">Rounded Chair</h5>
                                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                                        humour, or randomised words which don't look</p>
                                </td>
                                <td>$153</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td class="font-500" align="center">$153</td>
                                <td align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="d-flex no-block align-items-center">
                        <button class="btn btn-dark btn-outline">
                            <i class="fas fa-arrow-left"></i> Continuar Comprando</button>
                        <div class="ml-auto">
                            <button class="btn btn-success">
                                <i class="fa fa fa-shopping-cart"></i> Finalizar Compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-3 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resumo do Carrinho</h5>
                <hr>
                <small>Valor Total</small>
                <h2>R$612</h2>
                <hr>
                <button class="btn btn-success"><i class="fa fa fa-shopping-cart" style="padding-right: 5px;"></i>Finalizar Compra</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Suporte ao Cliente:</h5>
                <hr>
                <h4 style="font-size: 2.4rem; text-align: center; margin-bottom: 0px !important;">
                    <i class="ti-email"></i></h4>
                <h4 style="font-size: 1.0rem; text-align: center;">
                    suporte@empdiabetico.com.br</h4>
                <small style="font-size: 0.85rem;">Por favor entre em contato neste email em caso de dúvidas!!!.</small>
            </div>
        </div>
    </div>
</div>
