<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{post.titulo}}</h1>
                <h4 class="card-title">{{post.intro}}</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="white-box text-center">
                        <img src="{{ post.image }}" class="img-fluid" style="max-height: 300px;"> </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-6">
                        <h2 class="box-title m-t-40">Anota Aí!</h2>
                        <hr>
                        <div [innerHTML]="post.body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
