<div class="row">
  <div class="col-12">
    <h4 class="m-b-15">Delícias do Empório</h4>
    <div class="row">
      <ng-container *ngFor="let post of posts">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img class="card-img-top img-responsive" src="{{post.image}}" style="max-height: 300px; width: auto;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{post.titulo}}</h4>
              <p class="card-text">{{post.intro}}</p>
              <a (click)="goToPost(post)" class="btn btn-primary">Conferir Receita</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
