<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table v-middle product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th>Número Pedido</th>
                                <th>Cliente</th>
                                <th>Produtos</th>
                                <th>Data do Pedido</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#85457898</td>
                                <td>Steave Jobs</td>
                                <td>Rounded Chair</td>
                                <td>10-7-2017</td>
                                <td>
                                    <a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#95457898</td>
                                <td>Varun Dhavan</td>
                                <td>Wooden Chair</td>
                                <td>09-7-2017</td>
                                <td>
                                  <a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="fas fa-eye"></i>
                                  </a>
                                  <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                      <i class="fas fa-trash-alt"></i>
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
