<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table v-middle product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th>Número Pedido</th>
                                <th>Cliente</th>
                                <th>Valor Total</th>
                                <th>Produtos</th>
                                <th>Data do Pedido</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{order.id}}</td>
                                <td>{{order.clienteNome}}</td>
                                <td>R$ {{order.totalPrice}}</td>
                                <td>{{order.itensResume}}</td>
                                <td>{{order.dataPedidoDate ? order.dataPedidoDate.toLocaleDateString() : ""}}</td>
                                <td>
                                    <a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit"
                                      (click)="goToOrderDetailPage(order)">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
