<div class="row el-element-overlay">
    <ng-container *ngFor="let produto of productArray">
      <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1" style="height: 300px; object-fit: cover;">
                    <img src="{{ produto.imagem }}" alt="user"/>
                    <a href="{{goToProductPage(produto)}}"><div class="el-overlay"></div></a>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <a href="{{goToProductPage(produto)}}"><h4 class="m-b-0">{{produto.nome}}</h4></a>
                        <span class="text-muted">{{produto.subtitulo}}</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <h5>R$ {{produto.preco}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-container>

</div>
